html {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

#fullPage {
    position: relative;
    height: 100%;
    width: 100%;
}

#personalPhoto {
    width: 200px;
    height: auto;
    display: inline-block;
}

#scrollNav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

#navLogo {
    font-family: Merriweather, serif !important;
    padding-left: 20px;
}

#menuItems {
    font-family: Merriweather, serif !important;
}

.hiddenClass {
    display: none;
}

#siteMenu {
    font-family: Merriweather, serif !important;
    margin: 4% auto 0;
    width: 100%;
    text-align: center;
}

#headerTitle, #headerSubtitle {
    text-align: center;
    font-family: Merriweather, serif !important;
}

#menuItems li {
    display: inline-block;
    margin: 0 2%;
}

#menuItems li a {
    color: black;
}

#menuItems li a:hover, .socialIconDiv a:hover, #emailAddress a:hover {
    color: #00247F;
}

.sectionHeader {
    font-family: Merriweather, serif !important;
}

#skillsDiv, #aboutDiv, #experienceDiv, #forMyself, #forOthers {
    width: 60%;
    margin: 45px auto;
}

#aboutText {
    display: inline-block;
    margin-left: 2%;
    width: 70%;
}

.skillsSpan {
    font-weight: 700;
}

#skillsInnerDiv, #aboutInnerDiv, #experienceInnerDiv {
    width: 95%;
    margin: 0 auto;
}

#footerDiv {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 40px;
}

.socialIconDiv {
    display: inline-block;
}

.socialIconDiv a {
    color: black;
    margin: 0 30px;
}

.fa {
    font-size: 30px;
}

#emailAddress {
    padding-top: 20px;
    font-family: Merriweather, serif !important;
}

#emailAddress a, a {
    color: black;
}

.portfolioDiv {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.innerDiv {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.hiddenLabel {
    display: none;
}

.projectLabel {
    background-color: white;
    padding: 3px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    border: 1px solid #A4AAB0;
}

#gugoDiv {
    background-image: url("../images/gugo.png");
}

#crPhotoDiv {
    background-image: url("../images/backgroundimg.jpg");
}

#feedingSeattleDiv {
    background-image: url("../images/feedingseattle.jpg");
}

#cLinkDiv {
    background-image: url("../images/crimeVisual.png");
}

#photorganizeDiv {
    background-image: url("../images/img1.JPG");
}

#trueAmericanDiv {
    background-image: url("../images/flag.jpg");
}

#trueSeattleiteDiv {
    background-image: url("../images/trueseattleite.jpg");
}