html {
    font-family: Quicksand, Calibri, Trebuchet, sans-serif;
}

div.parallax-container img {
	max-height: 1000px;
	max-width: 1000px
}

nav, footer.page-footer {
	background-color: #1a237e;
}

.brand-logo {
	margin-left: 15px;
}

ul.right {
	margin-right: 15px;
}

#about {
	padding-top: 50px;
	padding-bottom: 30px;
}

#firstName {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#lastName {
	padding-top: 0px;
	margin-top: 0px;
}

#imgCon {
	margin-right: 20px;
}

h6 a {
	color: black;
	font-size: 2em;
	letter-spacing: 10px;
}