html {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

#fullPage {
    position: relative;
    height: 100%;
    width: 100%;
}

#personalPhoto {
    width: 200px;
    height: auto;
    display: inline-block;
}

#siteMenu {
    font-family: Merriweather, serif !important;
    margin: 4% auto 0;
    width: 50%;
    text-align: center;
}

#headerTitle, #headerSubtitle {
    text-align: center;
    font-family: Merriweather, serif !important;
}

#menuItems li {
    display: inline-block;
    margin: 0 2%;
}

#menuItems li a {
    color: black;
}

#menuItems li a:hover, .socialIconDiv a:hover, #emailAddress a:hover {
    color: #00247F
}

.sectionHeader {
    font-family: Merriweather, serif !important;
}

#skillsDiv, #aboutDiv, #experienceDiv {
    width: 60%;
    margin: 45px auto;
}

#aboutText {
    display: inline-block;
    margin-left: 2%;
    width: 70%;
}

.skillsSpan {
    font-weight: 700;
}

#skillsInnerDiv, #aboutInnerDiv, #experienceInnerDiv {
    width: 95%;
    margin: 0 auto;
}

#footerDiv {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 40px;
}

.socialIconDiv {
    display: inline-block;
}

.socialIconDiv a {
    color: black;
    margin: 0 30px;
}

.fa {
    font-size: 30px;
}

#emailAddress {
    padding-top: 20px;
    font-family: Merriweather, serif !important;
}

#emailAddress a {
    color: black;
}